@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Unica+One&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Domine");

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a img {
  border: none;
}

article,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #18191b;
}

a {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  text-decoration: none;
  cursor: pointer;
}

p {
  display: block;
}

ul {
  list-style: disc;
}

#menu label {
  display: none;
}


.vertical-pink-line,
.from-hedonism-to-nature .under-hedonism .vertical-fading-line {
  height: 36vw;
  width: 0.1vw;
  background-color: #18191b;
  *zoom: 1;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF18191B', endColorstr='#FFB88A74');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #18191b), color-stop(100%, #b88a74));
  background-image: -moz-linear-gradient(top, #18191b 0%, #b88a74 100%);
  background-image: -webkit-linear-gradient(top, #18191b 0%, #b88a74 100%);
  background-image: linear-gradient(to bottom, #18191b 0%, #b88a74 100%);
}

.black-pink-line,
.from-nature-to-products .personal-approach-group .horizontal-gradient-line {
  width: 64vw;
  height: 0.1vw;
  background-color: #18191b;
  *zoom: 1;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF18191B', endColorstr='#FFDAB19C');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #18191b), color-stop(100%, #dab19c));
  background-image: -moz-linear-gradient(left, #18191b 0%, #dab19c 100%);
  background-image: -webkit-linear-gradient(left, #18191b 0%, #dab19c 100%);
  background-image: linear-gradient(to right, #18191b 0%, #dab19c 100%);
}

.vertical-pink-beige-line,
.homepage-products .products-vertical-line {
  height: 17vw;
  width: 0.1vw;
}

.horizontal-pink-beige-line,
.homepage-products .products-presentation {
  width: 12vw;
  height: 0.1vw;

}

.white-title,
.from-hedonism-to-nature .under-hedonism .three-words,
.from-hedonism-to-nature .under-hedonism .skin-title {
  font-family: 'Montserrat', cursive;
  text-transform: uppercase;
  color: #cbb7d7;
}

.yellow-sentance {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #d7b7c3;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-size: 0.8vw;
  letter-spacing: 2.12vw;
}

.hh-slash {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 14.7vw;
  height: 0.05vw;
  background-color: white;
  opacity: 0;
}


img.homeheader-logo {
  width: 3.5vw;
}



.homepage-header {
  background-color: #18191b;
}


.homepage-header .homepage-header-inner {
  position: relative;
  overflow: hidden;
  height: 81vw;
  margin-top: -2.8vw;
}


.homepage-header .homepage-header-inner #branding {
  opacity: 0;
  filter: blur(3px);
  padding: 4vw 5vw 0 5vw;
  display: -webkit-flex;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 5000;
  margin-top: 3vw;
  margin-bottom: -2vw;
}

.homepage-header .homepage-header-inner #branding .language-switch {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-size: 1vw;
  margin-top: 0.5vw;
}


.homepage-header .homepage-header-inner #branding .language-switch .inactive {
  transition: all 0.3s;
}

.homepage-header .homepage-header-inner #branding .language-switch .inactive:hover {
  color: white;
}


.homepage-header .homepage-header-inner #branding .language-switch-active {
  font-size: 1.5vw;
  color: #ffffff;
  margin-top: -0.15vw;
}

ul#menu-glavni-hr {
  display: none;
}

.homepage-header .homepage-header-inner #menu ul#menu-glavni-meni,
.homepage-header .homepage-header-inner #menu #menu-glavni-hr {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: 98% 50%;
  -ms-transform-origin: 98% 50%;
  -webkit-transform-origin: 98% 50%;
  transform-origin: 98% 50%;
  float: right;
  margin-top: 66.9vh;
  z-index: 1000;
  position: relative;
  opacity: 0;
  filter: blur(5px);
}

.homepage-header .homepage-header-inner #menu ul#menu-glavni-meni a,
.homepage-header .homepage-header-inner #menu #menu-glavni-hr a {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  text-decoration: none;
  font-size: 1vw;
  padding: 1.8vw;
}

.homepage-header .homepage-header-inner .clearfix::after {
  display: none;
}

.homepage-header .homepage-header-inner .homeheader-letter {
  font-family: 'Domine', serif;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  position: absolute;
  font-size: 16vw !important;
  line-height: 10vw;
  z-index: 100;
}


.homepage-header .homepage-header-inner .homeheader-sentance {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  color: #fff;
  letter-spacing: 0.5vw;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 68.7vw;
  font-size: 1.3vw;
  letter-spacing: 0.88vw;
  top: 52.9vh;
  left: 14.6vw;
}


.homepage-header .homepage-header-inner .homeheader-sentance-mobile {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: 98% 50%;
  -ms-transform-origin: 98% 50%;
  -webkit-transform-origin: 98% 50%;
  transform-origin: 98% 50%;
  display: block !important;
  width: 81vw;
  font-size: 5vw;
  letter-spacing: 4vw;
  top: 109vw;
  left: -28.5vw;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: absolute;
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  color: #fff;
  z-index: 500;
}

.homepage-header .homepage-header-inner .hhs1m,
.homepage-header .homepage-header-inner .hhs2m {
  padding: 3vw;
  letter-spacing: 4vw;
  opacity: 0;
}

.homepage-header .homepage-header-inner .hhs2 {
  letter-spacing: 0.7vw;
}

.homepage-header .homepage-header-inner .hhs2m {
  text-align: right;
}

.homepage-header .homepage-header-inner .hhl1 {
  top: 9.5vw;
  left: 32vw;
  opacity: 0;
  filter: blur(10px);
}

.homepage-header .homepage-header-inner .hhl2 {
  top: 23.8vw;
  left: 60vw;
  z-index: 250;
  opacity: 0;
  filter: blur(10px);
}

.homepage-header .homepage-header-inner .hhl3 {
  top: 79.5vh;
  width: 100%;
  text-align: center;
  opacity: 0;
  filter: blur(10px);
}

.homepage-header .homepage-header-inner .circle-overlay {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  position: absolute;
  z-index: 200;
  margin: auto;
  left: 0;
  right: 0;
}

.homepage-header .homepage-header-inner .co1 {
  top: 20.2vh;
  background-color: #373737;
  opacity: 0;
  z-index: 200;
}


.homepage-header .homepage-header-inner .co2 {
  top: 41.5vh;
  opacity: 0;
  z-index: 190;
}


.homepage-header .homepage-header-inner .hh-vertical-line {
  width: 0.07vw;
  background-color: #161619;

  margin-left: 49.8%;
  position: relative;
  z-index: 300;
  margin-top: -8vw;
}


.homepage-header .homepage-header-inner .hh-slash1 {
  position: absolute;
  top: 46.3vw;
  left: 42.2vw;
  z-index: 300;
}

.homepage-header .homepage-header-inner .hh-shopnow {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  position: absolute;
  top: 56.7vw;
  font-size: 1.1vw;
  letter-spacing: 0.7vw;
  z-index: 10;
  opacity: 0;
  width: 100%;
  text-align: center;
  z-index: 400;
  cursor: pointer;
}


.homepage-header .homepage-header-inner .hh-shopnow-slash {
  opacity: 0;
  position: absolute;
  top: 57.37vw;
  left: 43.5vw;
  z-index: 500;
}


.hhs1,
.hhs2 {
  z-index: 10;
}

.homepage-header .homepage-header-inner .hh-vertical-line {
  opacity: 0;
}


.homepage-header .homepage-header-inner #menu ul#menu-glavni-meni li,
.homepage-header .homepage-header-inner #menu ul#menu-glavni-hr li {
  padding: 3vw 0;
}


.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 101vh;
  background: #18191B;
  z-index: 9999;
  font-weight: 500;
  font-size: 1.8vw;
}

.loading-text {
  position: absolute;
  top: 0vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 5vw;
  line-height: 5vw;
  font-size: 1.5vw;
  z-index: 100;
}

.loading-text span {
  display: inline-block;
  margin: 0 0.38vw;
  color: #fff;
}

.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}

.loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}

.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}

.loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}

.loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

.loading-text span:nth-child(8) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.4s infinite linear alternate;
}

.loading-text span:nth-child(9) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.6s infinite linear alternate;
}

.loading-text span:nth-child(10) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.8s infinite linear alternate;
}

.loading-text span:nth-child(11) {
  filter: blur(0px);
  animation: blur-text 1.5s 2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(1px);
  }

  100% {
    filter: blur(4px);
  }
}

@keyframes noise {

  0%,
  100% {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0% 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}

ul#menu-glavni-meni a,
ul#menu-footer-menu a,
ul#menu-footer-link a,
ul#menu-glavni-hr a {
  transition: 0.5s ease all;
}

ul#menu-glavni-meni a:hover,
ul#menu-footer-menu a:hover,
ul#menu-glavni-hr a:hover,
ul#menu-footer-link a:hover,
.footer-email a:hover {
  color: #fff !important;
}

.mm-collection a {
  font-size: 5vw;
}

.mobile-menu-bottom {
  font-size: 4vw;
  font-family: "Montserrat", cursive;
  letter-spacing: 1.3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 8vw;
}


.mobile-menu-bottom .mm-collection {
  width: 42%;
  text-align: center;
}

.parent_element {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.media_parent_element {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}


#footer {
  position: relative;
  z-index: 700;
}

#footer .footer_second_row {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: #111111;
  padding-top: 8vw;
}


#footer .footer_second_row img {
  width: 15.6vw;
}


#footer .footer_third_row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: #111111;
  justify-content: center;
  padding-top: 4vw;
  padding-bottom: 9vw;
}


#footer .footer_third_row .menu ul,
#footer .footer_third_row .footer_social_menu ul {
  list-style: none !important;
}

#footer .footer_third_row .menu a,
#footer .footer_third_row .footer_social_menu a {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  color: #cd927a;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-size: 1.25vw;
  text-decoration: none;
  line-height: 3vw;
}

#footer .footer_third_row .element1 {
  width: 25vw;
  margin-top: -0.8vw;
}


#footer .footer_third_row .element3 {
  width: 23vw !important;
  margin-right: 1vw;
  text-align: right;
  margin-top: -0.5vw;
}


#footer .footer_third_row .footer_full {
  border-left: 0.15vw solid #594740;
  border-right: 0.15vw solid #594740;
  font-size: 2.3vw;
  letter-spacing: 0.55vw;
  padding: 3.3vw 4vw 3.3vw 4vw;
  margin-top: 2vw;
  margin-left: -2vw;
}

/* не трогай */
#footer .footer_fourth_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111111;
  padding: 0 11.6vw 4vw 10.3vw;
  font-family: "Montserrat", cursive;
  text-transform: uppercase;
}

#footer .footer_fourth_row .left {
  color: #505050 !important;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.12vw;
}


#footer .footer_fourth_row .right img {
  width: 7.2vw;
}


html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  -webkit-backface-visibility: hidden;
  margin: 0;
  font-smoothing: antialiased !important;
  height: 100%;
}

#wrapper {
  overflow-x: hidden;
  position: relative;
}

.from-hedonism-to-nature {
  position: relative;
  margin-top: -8.3vw;
}
.from-hedonism-to-nature .pink-fading-line {
  position: absolute;
  opacity: 0;
  top: 8.2vw;
}

.from-hedonism-to-nature .ps1 {
  margin-left: 7.7vw;
}

.from-hedonism-to-nature .under-hedonism .three-words {
  text-align: center;
  position: relative;
  z-index: 3;
  width: 80%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4vw;
  line-height: 5vw;
  margin-top: 15vw;
  letter-spacing: 0.7vw;
  filter: blur(0px);
}


.from-hedonism-to-nature .under-hedonism .image {
  margin-top: -2.50vw;
  position: relative;
  z-index: -1;
}


.from-hedonism-to-nature .under-hedonism .image img {
  width: 54.5%;
  float: right;
  opacity: 0;
  filter: blur(5px);
}


.from-hedonism-to-nature .under-hedonism .ps2 {
  position: absolute;
  z-index: 500;
  top: 11.5vw;
  left: 49.7vw;
  letter-spacing: 2.34vw;
  font-size: 1.3vw;
}
.from-hedonism-to-nature .under-hedonism .pfl2 {
  position: relative;
  margin-top: 19.3vw !important;
  width: 0;
  top: 0 !important;
}


.from-hedonism-to-nature .under-hedonism .home-play-button {
  width: 9.5vw;
  height: 9.5vw;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 21vw;
  opacity: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #363636), color-stop(31%, rgba(54, 54, 54, 0.69)), color-stop(65%, rgba(54, 54, 54, 0.37)), color-stop(85%, rgba(54, 54, 54, 0)));
  background: -webkit-linear-gradient(130deg, rgba(54, 54, 54, 0) 15%, rgba(54, 54, 54, 0.37) 35%, rgba(54, 54, 54, 0.69) 69%, #363636 100%);
}


.from-hedonism-to-nature .under-hedonism .home-play-button {
  width: 0;
  height: 0;
  border-top: 1.2vw solid transparent;
  border-bottom: 1.2vw solid transparent;
  border-left: 2vw solid #cd927a;
  margin-top: 3vw;
  margin-left: 4.2vw;
  opacity: 0;
}

.from-hedonism-to-nature .under-hedonism .ps3 {
  position: absolute;
  top: 44.2vw;
  right: 19vw;
}

.from-hedonism-to-nature .under-hedonism .ps4 {
  position: absolute;
  top: 68.4vw;
  left: 13.7vw;
  width: 18vw;
  line-height: 2.4vw;
}


.from-hedonism-to-nature .under-hedonism .skin-title {
  font-size: 12.25vw;
  line-height: 7vw;
  position: absolute;
  top: 49.5vw;
  right: 17vw;
  letter-spacing: 1.2vw;
  opacity: 0;
  filter: blur(5px);
}

.from-hedonism-to-nature .under-hedonism .leaf-image {
  margin-top: 17.8vw;
  margin-left: 36.2vw;
  position: relative;
  z-index: 500;
  visibility: hidden;
}


.from-hedonism-to-nature .under-hedonism .leaf-image img {
  width: 27vw;
}


.from-hedonism-to-nature .under-hedonism .vertical-fading-line {
  position: absolute;
  left: 10.1vw;
  top: 36.7vw;
}

.from-hedonism-to-nature .under-hedonism .nature-title-wrapper {
  background-color: #F1DCD7;
  margin-top: -29vw;
  padding-bottom: 12vw;
  width: 54vw;
  padding-top: 2.7vw;
}


.from-hedonism-to-nature .under-hedonism .nature-title {
  font-size: 12.25vw;
  padding-left: 11.9vw;
  line-height: 8.5vw;
  position: relative;
  z-index: 700;
  letter-spacing: 1.25vw;
  opacity: 0;
  filter: blur(5px);
}


.from-nature-to-products {
  position: relative;
  background-color: #F1DCD7;
  margin-top: -7.7vw;
}


.from-nature-to-products .atom-image {
  position: absolute;
  right: 0;
  width: 41.5vw;
  overflow: hidden;
}


.from-nature-to-products .atom-image img {
  width: 49.7vw;
  margin-top: -38.9vw;
  position: relative;
  z-index: 100;
  visibility: hidden;
}
.from-nature-to-products .bs1 {
  background-color: #18191a;
  padding-top: 26.2vw;
  padding-left: 15.7vw;
  padding-bottom: 4.5vw;
}


.from-nature-to-products .science-title {
  font-size: 15.1vw;
  line-height: 13vw;
  padding-left: 14.5vw;
  letter-spacing: 3vw;
  position: relative;
  z-index: 400;
  opacity: 0;
  filter: blur(5px);
  margin-top: 5vw;
}

.from-nature-to-products .expression-wrapper {
  position: absolute;
  width: 50%;
  right: 0;
  top: 28vw;
  background-color: #f1dcd7;
  *zoom: 1;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF1DCD7', endColorstr='#FFF9F1EE');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1dcd7), color-stop(100%, #f9f1ee));
  background-image: -moz-linear-gradient(top, #f1dcd7 0%, #f9f1ee 100%);
  background-image: -webkit-linear-gradient(top, #f1dcd7 0%, #f9f1ee 100%);
  background-image: linear-gradient(to bottom, #f1dcd7 0%, #f9f1ee 100%);
  height: 65.4vw;
}


.from-nature-to-products .bs2 {
  padding-top: 33.2vw;
  margin-left: 6.3vw;
}


.from-nature-to-products .bs3 {
  font-size: 4.15vw;
  line-height: 4vw;
  margin-left: 5.5vw;
  margin-top: 2.9vw;
  letter-spacing: 1.15vw;
  opacity: 0;
  filter: blur(5px);
}

.from-nature-to-products .hh-slash2 {
  margin-top: 11.5vw;
  margin-left: 40.5vw;
  position: relative;
  z-index: 200;
  height: 0.15vw;
  width: 18vw;
}


.from-nature-to-products .line-under-slash {
  width: 0.1vw;
  height: 22vw;
  margin: auto;
  background-color: #DDBCAE;
  position: relative;
  z-index: 400;
  margin-top: 0.1vw;
}


.from-nature-to-products .personal-approach-group {
  background-color: #E5CFC2;
  position: relative;
  z-index: 200;
  width: 58.8vw;
  padding-top: 2.1vw;
  padding-bottom: 1.7vw;
}

.from-nature-to-products .personal-approach-group img {
  width: 63.7vw;
  margin-left: -1.4vw;
  visibility: hidden;
}


.from-nature-to-products .personal-approach-group .ai2 {
  overflow-x: hidden;
  position: absolute;
  top: -32.5vw;
}

.from-nature-to-products .personal-approach-group .ai2 img {
  width: 46vw;
  margin-left: -20vw;
  visibility: hidden;
}

.from-nature-to-products .personal-approach-group .personal-title {
  position: absolute;
  font-size: 9.8vw;
  top: 17.8vw;
  line-height: 8vw;
  left: 13.6vw;
  letter-spacing: 2.27vw;
  opacity: 0;
  filter: blur(5px);
}


.from-nature-to-products .personal-approach-group .horizontal-gradient-line {
  position: absolute;
  top: 21.7vw;
}

.from-nature-to-products .personal-approach-group .personal-subtitle {
  font-size: 1.7vw;
  letter-spacing: 2.85vw;
  position: absolute;
  top: 29.7vw;
  left: 33.7vw;
}



.scarf-general-wrapper {
  background-color: #18191a;


}
.from-nature-to-products .scarf-mockup {
  background-color: #050505;
  filter: url(#blur);
  filter: blur(40px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
  transition: 5s;
  position: relative;
  z-index: 500;
      overflow: hidden;


}

.scarf-mockup:hover {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
  filter: blur(0px);
}

.from-nature-to-products .scarf-mockup img,
.from-nature-to-products .scarf-mockup svg {
  width: 100.5vw;
  z-index: 10;
}


.from-nature-to-products .bs4 {
  margin-top: -2.6vw;
  padding-bottom: 9.6vw;
  letter-spacing: 1.21vw;
  text-align: center;
  width: 100%;
  font-size: 1.3vw;
  opacity: 0;
  filter: blur(5px);
}


.homepage-products {
  height: 0vw;
  background-color: #18191b;
  text-align: center;
  margin-top: 1vw;
  position: relative;
}

.homepage-products .products-slash {
  display: inline-block;
  transform: rotate(45deg);
  width: 11vw;
  height: 0.15vw;
}


p {
  left: 203px;
  text-align: center;
  font-size: 4vw;
  font-family: "Montserrat", cursive;
  font-weight: 200;
  color: #e7c3d1;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  position: absolute;
  bottom: 43vw;
  z-index: 1000;
  line-height: 5vw;
}


.nothing {
  background-color: #18191b;
      height: 100px;
}
.homepage-products .logo-big {
  filter: url(#blur);
  filter: blur(700px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
  transition: 2s;
  position: relative;
  z-index: 500;
  padding-left: auto;
  padding-top: 0.1vw;
}

.logo-big:hover {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
  filter: blur(0px);
}

.homepage-products .logo-big img {
  width: 100vw;
}


.homepage-products .products-shorttext {
  color: white;
  width: 43vw;
  margin: 4.3vw 0 2vw 0;
  display: inline-block;
}

.homepage-products {
  letter-spacing: 0.67vw;
  font-size: 1.12vw;
  margin-top: 1.4vw;
  transition: 0.5s ease all;
}


.homepage-products .products-vertical-line {
  display: inline-block;
  margin-top: 4vw;
}

.homepage-products .products-presentation {
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: -6.5vw;
  height: 48.5vw;
  align-items: center;
  position: relative;
  z-index: 200;
}

.homepage-products .products-presentation .left-menu {
  width: 21.4vw;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 2.3vw !important;
  height: 100%;
}


.homepage-products .products-presentation .left-menu .left-menu-products {
  margin-top: -2vw;
}

.homepage-products .products-presentation .left-menu .menu-product {
  padding: 1.1vw 0 1.1vw 5.5vw;
  letter-spacing: 0.27vw;
  text-transform: initial;
  cursor: pointer;
  transition: all 0.3s;
}

.homepage-products .products-presentation .right-product {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.homepage-products .products-presentation .right-product .product-image {
  margin-top: 1.5vw;
  width: 58%;
}


.homepage-products .products-presentation .right-product .product-image img {
  width: 28.6vw;
  margin-left: 5.8vw;
}

.homepage-products .products-presentation .right-product {
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 7.6vw;
  width: 42%;
  text-align: left;
}


.homepage-products .products-presentation .right-product .product-name {
  font-size: 2.3vw;
  line-height: 2.8vw;
  letter-spacing: 0.1vw;
  width: 20vw;
  margin-top: 7.1vw;
}


.homepage-products .products-presentation .right-product {
  width: 19vw;
  margin-top: 2.5vw;
}

.homepage-products .products-presentation .right-product .product-collection {
  margin-top: 2vw;
}


.homepage-products .products-presentation .right-product {
  margin-top: 2.8vw;
  margin-bottom: 4.5vw;
  letter-spacing: 0.65vw;
}


.homepage-products .products-presentation .right-product .product-logo img {
  width: 5.5vw;
  margin-top: -2vw;
}

.homepage-products .products-presentation .right-product .pi2,
.homepage-products .products-presentation .right-product .pii2,
.homepage-products .products-presentation .right-product .pi3,
.homepage-products .products-presentation .right-product .pii3 {
  display: none;
}


.homepage-products .products-presentation .right-product .pi1 img {
  margin-left: 1.2vw;
}


.homepage-products .products-presentation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-left: -8.4vw;
  align-items: center;
  display: none;
}

.right-arrow-products {
  margin-top: -5.7vw;
  width: 5.5vw;
  margin-left: 12.4vw;
  position: absolute;
  transition: 0.6s ease all;
  float: right;
}

.right-arrow-products:hover {
  fill: #000;
}

.homepage-products .products-presentation {
  width: 12vw;
  position: relative;
  z-index: 300;
}

.homepage-products .products-presentation {
  width: 0;
  height: 0;
  border-top: 0.8vw solid transparent;
  border-bottom: 0.8vw solid transparent;
  border-left: 1vw solid #cd927a;
}

.hhs1 span,
.hhs2 span {
  position: absolute;
}

span.and,
span.luxury,
span.feed,
span.it,
span.with,
span.for,
span.upgraded,
span.withh,
span.inn,
span.first,
span.app {
  margin-top: -0.45vw;
}

span.learned,
span.from {
  margin-top: -4.8vw;
}

span.learned span,
span.from span {
  opacity: 0;
}

.leaf-image img {
  filter: grayscale(100%);
  visibility: hidden;
}


.from-hedonism-to-nature .under-hedonism .vertical-fading-line {
  height: 0;
  opacity: 0;
}

.from-nature-to-products .personal-approach-group .horizontal-gradient-line {
  width: 0;
}

.page-template-home_cro .from-hedonism-to-nature .under-hedonism .ps3 {
  right: 21.7vw;
}

.page-template-home_cro .from-hedonism-to-nature .under-hedonism .skin-title {
  right: 16vw;
}

.page-template-home_cro .from-nature-to-products .personal-approach-group .personal-title {
  left: 32.5vw;
  letter-spacing: 1.8vw;
  z-index: 600;
}

canvas#c {
  position: absolute;
  top: 119vw;
  z-index: 2;
}


canvas#d {
  position: absolute;
  top: 151vw;
  right: -34vw;
  z-index: 0;
  overflow: hidden;
}


body {
  background-color: #18191b;
}

ul {
  list-style-type: none;
}

a {
  color: #ce9179;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
@media screen and (max-width: 1800px) {
  p {
    left: 255px;
  }
}
@media screen and (max-width: 1440px) {
  p {
    left: 203px;
  }
}

@media screen and (max-width: 1024px) {
#footer .footer_third_row .footer_full {
  font-size: 2vw;
}
p {
  left: 150px;
}
}
@media screen and (max-width: 768px) {
  #footer .footer_third_row .footer_full {
    font-size: 3,5vw;
  }
  p {
    left: 110px;
  }
  .from-hedonism-to-nature .under-hedonism .ps4 {
    line-height: 1.4vw;
  }
  }
  @media screen and (max-width: 320px) {
    #footer .footer_third_row .footer_full {
      font-size: 3,5vw;
      line-height: 1vw;
    }
    p {
      left: 40px;
    }
    .from-hedonism-to-nature .under-hedonism .ps4 {
      line-height: 1.4vw;
    }
    }
